<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/dgutlogo"
        android:label="东莞理工Android实训"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.BootActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.PasswordRecoverActivity" />
        <activity android:name=".Activity.HelloWorldActivity" />
        <activity android:name=".Activity.ContentFeedActivity" />
        <activity android:name=".Activity.NewContentActivity" />
        <activity android:name=".Activity.CommentActivity"></activity>
    </application>

</manifest>